@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


nav {
    font-family: monospace;
    border-bottom: 2px solid #00ff00;
}

nav ul li a {
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    text-shadow: 0 0 8px #00ff00;
}

