<!-- templates/updates.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Updates - ryu@archy</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1 class="text-green-400 text-2xl font-bold">Updates & Blog</h1>
    <div>
        {% for post in posts %}
        <div class="border-b border-green-800 py-4">
            <h2 class="text-green-300 text-xl">{{ post.title }}</h2>
            <div class="text-gray-200">{{ post.content | safe }}</div>
            <div class="text-xs text-gray-500">{{ post.date }}</div>
        </div>
        {% endfor %}
    </div>
</body>

</html>